<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="07e8d604-b652-443c-ba77-b78e3c5c35a0" wadlVersion="http://wadl.dev.java.net/2009/02" name="CARESOrderManagement" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="07e8d604-b652-443c-ba77-b78e3c5c35a0fileName">CARESOrderManagement</con:setting>
  </con:settings>
  <con:definitionCache type="TEXT" rootPart=""/>
  <con:endpoints>
    <con:endpoint>http://ldec5009c1ods02:9080</con:endpoint>
    <con:endpoint>http://localhost:9081</con:endpoint>
    <con:endpoint>https://sg.ws.dev.cardinalhealth.net:4333/Medical/Cares/CalculateMedDocExpiration/V1_0</con:endpoint>
    <con:endpoint>https://sg.ws.dev.cardinalhealth.net:4333/Medical/Cares/DetermineAllowableShippingMethods/V1_0</con:endpoint>
    <con:endpoint>https://sg.ws.dev.cardinalhealth.net:4333/Medical/Cares/DetermineDWOFormFields/V1_0</con:endpoint>
    <con:endpoint>https://sg.ws.dev.cardinalhealth.net:4333/Medical/Cares/DetermineExpectedShipDate/V1_0</con:endpoint>
    <con:endpoint>https://sg.ws.dev.cardinalhealth.net:4333/Medical/Cares/DetermineMedDocStartDate/V1_0</con:endpoint>
    <con:endpoint>https://sg.ws.dev.cardinalhealth.net:4333/Medical/Cares/DetermineMedDocs/V1_0</con:endpoint>
    <con:endpoint>https://sg.ws.dev.cardinalhealth.net:4333/Medical/Cares/DeterminePriorAuthRequired/V1_0</con:endpoint>
    <con:endpoint>https://sg.ws.dev.cardinalhealth.net:4333/Medical/Cares/EvaluateLineItemLimits/V1_0</con:endpoint>
    <con:endpoint>https://sg.ws.dev.cardinalhealth.net:4333/Medical/Cares/EvaluateOrderLimits/V1_0</con:endpoint>
    <con:endpoint>https://sg.ws.dev.cardinalhealth.net:4333/Medical/Cares/GroupTasks/V1_0</con:endpoint>
    <con:endpoint>https://sg.ws.dev.cardinalhealth.net:4333/Medical/Cares/MedDocsNeeded/V1_0</con:endpoint>
    <con:endpoint>https://sg.ws.dev.cardinalhealth.net:4333/Medical/Cares/ValidateMedDocPerMedPolicy/V1_0</con:endpoint>
    <con:endpoint>https://sg.ws.qa.cardinalhealth.net:4443/Medical/Cares/GroupTasks/V1_0</con:endpoint>
  </con:endpoints>
</con:interface>
