<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="10c9deac-23f9-4213-a919-187efa4a31dd" name="DetermineIfPPSQuestionsRequired" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="10c9deac-23f9-4213-a919-187efa4a31ddfileName">DetermineIfPPSQuestionsRequired</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
