<?xml version="1.0" encoding="UTF-8"?>
<con:soapui-project id="887c2225-c38e-4482-89e2-3baee79be338" activeEnvironment="Default environment" name="EPST_ODM" resourceRoot="${projectDir}" soapui-version="5.5.0" abortOnError="false" runType="SEQUENTIAL" encryptionMode="Not encrypted" compositeProjectFormat="1.3" updated="3.3.2" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="com.eviware.soapui.impl.wsdl.actions.iface.tools.soapui.TestRunnerAction@values-local"><![CDATA[<xml-fragment xmlns:con="http://eviware.com/soapui/config">
  <con:entry key="Report Format(s)" value=""/>
  <con:entry key="Host:Port" value=""/>
  <con:entry key="Export JUnit Results" value="false"/>
  <con:entry key="Export All" value="false"/>
  <con:entry key="Save After" value="false"/>
  <con:entry key="Add Settings" value="false"/>
  <con:entry key="WSS Password Type" value=""/>
  <con:entry key="TestSuite" value="DetermineGracePeriodForLimits"/>
  <con:entry key="Endpoint" value=""/>
  <con:entry key="Select Report Type" value=""/>
  <con:entry key="System Properties" value=""/>
  <con:entry key="Password" value=""/>
  <con:entry key="Print Report" value="false"/>
  <con:entry key="Open Report" value="false"/>
  <con:entry key="Export JUnit Results with test properties" value="false"/>
  <con:entry key="Global Properties" value=""/>
  <con:entry key="Project Properties" value=""/>
  <con:entry key="Project Password" value=""/>
  <con:entry key="TestCase" value="&lt;all>"/>
  <con:entry key="Username" value=""/>
  <con:entry key="user-settings.xml Password" value=""/>
  <con:entry key="TestRunner Path" value=""/>
  <con:entry key="Environment" value="Default"/>
  <con:entry key="Coverage Report" value="false"/>
  <con:entry key="Enable UI" value="false"/>
  <con:entry key="Root Folder" value=""/>
  <con:entry key="Ignore Errors" value="false"/>
  <con:entry key="Domain" value=""/>
  <con:entry key="Tool Args" value=""/>
  <con:entry key="Save Project" value="false"/>
</xml-fragment>]]></con:setting>
  </con:settings>
  <con:endpointStrategy xsi:type="con:DefaultEndpointStrategy" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <con:endpoint mode="COMPLEMENT" username="DatapowerCares\, PCF (AP)" password="mHio2:Z2XoN">https://sg.ws.dev.cardinalhealth.net:4333/Medical/Cares/CalculateMedDocExpiration/V1_0</con:endpoint>
    <con:endpoint mode="COMPLEMENT" username="DatapowerCares\, PCF (AP)" password="mHio2:Z2XoN">https://sg.ws.dev.cardinalhealth.net:4333/Medical/Cares/MedDocsNeeded/V1_0</con:endpoint>
    <con:endpoint mode="COMPLEMENT" username="DatapowerCares\, PCF (AP)" password="mHio2:Z2XoN">https://sg.ws.dev.cardinalhealth.net:4333/Medical/Cares/DetermineDWOFormFields/V1_0</con:endpoint>
    <con:endpoint mode="COMPLEMENT" username="DatapowerCares\, PCF (AP)" password="mHio2:Z2XoN">https://sg.ws.dev.cardinalhealth.net:4333/Medical/Cares/DetermineMedDocStartDate/V1_0</con:endpoint>
    <con:endpoint mode="COMPLEMENT" username="DatapowerCares\, PCF (AP)" password="mHio2:Z2XoN">https://sg.ws.dev.cardinalhealth.net:4333/Medical/Cares/DeterminePriorAuthRequired/V1_0</con:endpoint>
    <con:endpoint mode="COMPLEMENT" username="DatapowerCares\, PCF (AP)" password="mHio2:Z2XoN">https://sg.ws.dev.cardinalhealth.net:4333/Medical/Cares/EvaluateOrderLimits/V1_0</con:endpoint>
    <con:endpoint mode="COMPLEMENT" username="DatapowerCares\, PCF (AP)" password="mHio2:Z2XoN">https://sg.ws.dev.cardinalhealth.net:4333/Medical/Cares/ValidateMedDocPerMedPolicy/V1_0</con:endpoint>
    <con:endpoint mode="COMPLEMENT" username="DatapowerCares\, PCF (AP)" password="mHio2:Z2XoN">https://sg.ws.dev.cardinalhealth.net:4333/Medical/Cares/GroupTasks/V1_0</con:endpoint>
    <con:endpoint mode="COMPLEMENT" username="rakesh.jha">https://ldil0219c1ods01.cardinalhealth.net:9082</con:endpoint>
    <con:endpoint mode="COMPLEMENT" username="CaresPcf\, SGqa (AP)" password="V9oHsTR6o]tsxoCAT15Jw">https://sg.ws.qa.cardinalhealth.net:4443/Medical/Cares/GroupTasks/V1_0</con:endpoint>
  </con:endpointStrategy>
  <con:properties/>
  <con:wssContainer/>
  <con:databaseConnectionContainer/>
  <con:jmsConnectionContainer/>
  <con:oAuth2ProfileContainer/>
  <con:oAuth1ProfileContainer/>
  <con:sensitiveInformation/>
  <con:authRepository/>
  <con:tags/>
</con:soapui-project>
