<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="5bb9423c-9780-4e04-b889-e2d3a4bcf9a9" name="DetermineMaxSupplyPeriodOverride" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="5bb9423c-9780-4e04-b889-e2d3a4bcf9a9fileName">DetermineMaxSupplyPeriodOverride</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
