<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="157f418d-b890-4ec1-9840-aa0d93b853f2" name="DetermineAncillaryLimitsForBundles" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="157f418d-b890-4ec1-9840-aa0d93b853f2fileName">DetermineAncillaryLimitsForBundles</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
