<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="5696587a-de3a-49ea-977e-2dffc09f1a37" name="DetermineTaskQueueAssignment" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="5696587a-de3a-49ea-977e-2dffc09f1a37fileName">DetermineTaskQueueAssignment</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
